<strong>Ola, {{ provider }}</strong>
<p><strong> {{user}} </strong> de se inscrever em seu Meetup:</p>

<p>
  <strong>Titulo: </strong> {{ title }} <br />
  <strong>Data: </strong> {{date }} <br />
</p>
